[Unit]
Description=System OTA start
After=matrix-gui-2.0.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ota-start.sh

[Install]
WantedBy=multi-user.target
