[Unit]
Description=Boot Times

[Service]
Type=oneshot
ExecStart=/tools/boottimes.sh
StandardOutput=kmsg+console

[Install]
WantedBy=multi-user.target
