[Unit]
Description=Configure the BT Pout to class 2
After=bluetooth.service

[Service]
ExecStart=-/bin/sh -c 'hciconfig hci0 up; sleep 1; hcitool cmd 0x3f 0x000B 01 24 0C FF 03 07 07 07 07 00 00 07 07 02 00; sleep 1; hcitool cmd 0x03 0x0003 0'
Type=oneshot

[Install]
WantedBy=bluetooth.target
