[Unit]
Description=Arm Mbed Edge service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/edge-core -p 22225 -o 8081

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mbed

[Install]
WantedBy=multi-user.target
