[Unit]
Description=Modbus Protocol Translator Service
After=mec.service

[Service]
Type=idle
Restart=always
RestartSec=10
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/pt-example_modbus --edge-core-port 22225

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=mbed-pt

[Install]
WantedBy=multi-user.target
