[Unit]
Description=g_mass_storage service

[Service]
Type=oneshot
ExecStart=/sbin/modprobe g_mass_storage file=/dev/mmcblk0p1 removable=1
ExecStop=/sbin/rmmod g_mass_storage
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
